#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* src/App.css */
:root {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

body {
  margin: 0;
  background: #ffffffff;
}